<table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre del documento </th>
    <td mat-cell *matCellDef="let documento"> {{documento.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="desCorta">
    <th mat-header-cell *matHeaderCellDef> Descripción corta </th>
    <td mat-cell *matCellDef="let documento"> {{documento.desCorta}} </td>
  </ng-container>

  <ng-container matColumnDef="desLarga">
    <th mat-header-cell *matHeaderCellDef> Descrpción Larga </th>
    <td mat-cell *matCellDef="let documento"> {{documento.desLarga}} </td>
  </ng-container>

  <ng-container matColumnDef="carpeta">
    <th mat-header-cell *matHeaderCellDef> Carpeta </th>
    <td mat-cell *matCellDef="let documento"> {{documento.carpeta}} </td>
  </ng-container>

  <ng-container matColumnDef="etiquetas">
    <th mat-header-cell *matHeaderCellDef> Etiquetas </th>
    <td mat-cell *matCellDef="let documento;">
      <mat-label>Etiquetas</mat-label>
      <mat-select>
        <mat-option *ngFor="let eti of documento.etiquetas" >
          {{eti}}
        </mat-option>
      </mat-select>
    </td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let documento"> {{documento.estado}} </td>
  </ng-container>

  <ng-container matColumnDef="fechaFirma">
    <th mat-header-cell *matHeaderCellDef> Fecha de firma </th>
    <td mat-cell *matCellDef="let documento"> {{documento.fechaFirma}} </td>
  </ng-container>

  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef> Tipo </th>
    <td mat-cell *matCellDef="let documento"> {{documento.tipo}} </td>
  </ng-container>

  <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef> Usuario </th>
    <td mat-cell *matCellDef="let documento"> {{documento.usuario.mostrarNombre()}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let documento"> {{documento.fecha}} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let j = index;">
      <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
        Borrar entrada
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>

<div class="contenedor">

  <mat-form-field>
    <input matInput [(ngModel)]="articuloselect.nombre" type="text" placeholder="Ingrese nombre del archivo">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="articuloselect.tipo" type="text" placeholder="Ingrese tipo">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="articuloselect.usuario.nombres" type="text" placeholder="Ingrese usuario">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="articuloselect.fecha" type="text" placeholder="Ingrese fecha">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>

</div>

